<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="6">
        <v-card class="mx-auto" max-width="344" variant="outlined">
          <v-img
            src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160282"
            height="200px"
          ></v-img>

          <v-card-title> Miss Jirarat Phoophamorn </v-card-title>

          <v-card-subtitle> ประวัติส่วนตัว </v-card-subtitle>
          <v-card-text>
            <p>นางสาว จิรารัตน์ ภู่ภมร</p>
            <p>รหัสประจำตัว: 63160282</p>
            <p>เลขที่บัตรประชาชน: 1240401141990</p>
            <p>สิ่งที่สนใจ: ชอบแมวมาก</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
